* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Galmuri14', sans-serif;
    background-color: #F8F9FA;
    color: #2B2B46;
    line-height: 1.8;
    padding-top: 80px;
}

/* 헤더 스타일 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(248, 249, 250, 0.9);
    z-index: 1000;
}
.section-intro .intro-container {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px 20px 20px;
}

.intro-image {
    flex: 0 0 150px;
}

.profile-photo {
    width: 100%;
    height: auto;
    display: block;
}

.intro-text {
    flex: 1;
    text-align: right;
}

.intro-text .title-area h2 {
    font-size: 2rem;
    margin: 0;
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #333;
}

.logo { font-size: 1.2rem; }

section {
    max-width: 1000px;
    margin: 0 auto 150px auto;
    text-align: center;
}

.title-area {
    margin-bottom: 60px;
    text-align: right; 
}

.title-area h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

/* 1. Introduce Myself */
.profile-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: left;
    font-size: 0.85rem;
    margin-bottom: 40px;
}

.hashtags {
    color: #666;
    margin-top: 30px;
}

/* 2. Skills & Work */
.skill-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.legacy-container {
    text-align: center;
    padding: 50px;
}

.center-img {
    display: block;
    margin: 20px auto 0;
    
    width: 800px;
    height: auto;
}

.coding-text {
    margin: 30px 0 50px 0;
}

.center-img2 {
    display: block;
    margin: 20px auto 0;
    
    width: 800px;
    height: auto;
}

.work-img img { max-width: 100%; height: auto; }

/* 3. Timeline */
.timeline-container {
    max-width: 700px;
    margin: 0 auto;
    text-align: right;
}

.timeline-row {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-bottom: 20px;
}

.timeline-row.bold {
    font-weight: bold;
    margin-top: 30px;
}

.year {
    min-width: 100px;
    text-align: left;
}

.instagram-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ig-logo {
    width: 24px;
    height: auto;
    opacity: 0.7;
    transition: all 0.3s ease;
}

/* 마우스를 올렸을 때 효과 */
.instagram-link:hover .ig-logo {
    opacity: 1;
    transform: scale(1.1);
}

section {
    scroll-margin-top: 100px; 
}